{% extends 'base.html.twig' %}
{% block body %}
<div class="container">

    <div class="row">
        <div class="col-6">
            <h4>couleurs par défaut</h4>
            <ul id="sortable_colors" class="list-group">
                {% for color in default_colors %}
                    <li class="list-group-item cursor-grab">{{ color }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <h4> valeurs par défaut</h4>
            <ul id="sortable_values" class="list-group">
                {% for value in default_values %}
                    <li class="list-group-item cursor-grab">{{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div id="game" class="row">
        <div class="col-6">
            <div id="handUnorderedWrapper" class="d-none">
                <h4>Main non triée</h4>
                <ul id="handUnordered" class="list-group"> </ul>
                <button id="showOrderedHand" class="btn btn-primary" type="button">Afficher le jeu trié</button>
            </div>
        </div>
        <div class="col-6">
            <div id="handOrderedWrapper" class="d-none">
                <h4>Main triée</h4>
                <ul id="handOrdered" class="list-group"></ul>
            </div>
        </div>
    </div>
    <div id="spinner" class="text-center d-none">
        <div class="spinner-border" role="status"></div>
    </div>
</div>
{% endblock %}
