@charset "UTF-8";

@import "~bootstrap/scss/bootstrap";


/* décalage pour la navigatation fixée au top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}
/* overide img fluid width 100 %*/
.img-fluid {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.offerings {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.offeringsItem {
    width: 90%;
    height: auto;
    margin: 10px;
    padding: 15px;
    border: 2px solid #dedede;
}

.offeringsContent {
    margin: 10px;
    position: relative;
}

.offeringsImg {
    margin: 10px;
}

.offeringsImg img {
    max-width: 100%;
    height: auto;
    display: block;
}

.offeringsItem:nth-of-type(odd) img {
    float: right;
}

.offeringsItem:nth-of-type(even) img {
    float: left;
}

label.required:before {
    content: "* ";
}

.img150 {
  max-height: 150px;
}

a.nostyle {
    color: #0060B6;
    text-decoration: none;
}

a.nostyle:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}

.cursor-grab {
    cursor: grab;
}