<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}WEBNET - jeux de carte{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app', null, 'app') }}
    {% endblock %}


</head>
<body>
{% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}
</body>
{% block javascripts %}
    {{ encore_entry_script_tags('app', null, 'app') }}
{% endblock %}

</html>